Repository DogDatesComp4350/DogDates, pull requests merged in 2022-03, with the labels that each got.

#59 Login, Signup, page redirections, image upload, all backend for users
  backend/.gitignore
  backend/app.js
  backend/controllers/auth-controller.js
  backend/controllers/signup-controller.js
  backend/controllers/users-controller.js
  backend/middleware/file-upload.js
  backend/package-lock.json
  backend/package.json
  backend/persistence/db-schema.js
  backend/routes/signup-routes.js
  backend/routes/users-routes.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/src/App.js
  frontend/src/account/pages/Account.css
  frontend/src/account/pages/Account.js
  frontend/src/home/components/RegisterButton.js
  frontend/src/login/pages/Login.css
  frontend/src/login/pages/Login.js
  frontend/src/register/pages/Register.js
  frontend/src/shared/components/FormElements/Button.css
  frontend/src/shared/components/FormElements/Button.js
  frontend/src/shared/components/FormElements/ImageUpload.css
  frontend/src/shared/components/FormElements/ImageUpload.js
  frontend/src/shared/components/FormElements/Select.css
  frontend/src/shared/components/FormElements/Select.js
  frontend/src/shared/components/FormElements/TextInput.css
  frontend/src/shared/components/FormElements/TextInput.js
  frontend/src/shared/components/Navigation/MainNavigation.js
  frontend/src/shared/components/Navigation/NavLinks.css
  frontend/src/shared/components/Navigation/NavLinks.js
  frontend/src/shared/context/auth-context.js
  frontend/src/shared/hooks/auth-hook.js
  frontend/src/signup/pages/Signup.css
  frontend/src/signup/pages/Signup.js
Labels: Front end, Back end

#69 Full stack full test
  .github/workflows/Backend-Test.yml
  .github/workflows/Frontend-Test.yml
  frontend/package.json
  frontend/src/__tests__/home/home.test.js
  frontend/src/__tests__/home/registerButton.test.js
  frontend/src/__tests__/login/login.test.js
  frontend/src/__tests__/signup/signup.test.js
  frontend/src/__tests__/user/account.test.js
  frontend/src/__tests__/user/accountDeleted.test.js
  frontend/src/__tests__/user/deletedWarning.test.js
  frontend/src/__tests__/user/infoUpdated.test.js
  frontend/src/__tests__/user/updateAccount.test.js
  frontend/src/home/pages/Home.js
  frontend/src/index.css
  frontend/src/login/pages/Login.js
  frontend/src/signup/pages/Signup.js
  frontend/src/user/pages/DeleteAccountWarning.js
  frontend/src/user/pages/UpdateAccInfo.js
Labels: Testing

#93 Add backend test
  backend/__tests__/DislikeTest.js
  backend/__tests__/LikeTest.js
  backend/__tests__/MatchTest.js
  backend/__tests__/MatchUidTest.js
  backend/__tests__/UserAccountTests.js
  backend/__tests__/ViewTests.js
Labels: sprint 3, Back end, Dev Task
